name: Tests

on:
  push:
    branches: [ main, release/** ]
  pull_request:
    branches: [ main, release/** ]

jobs:
  test:
    runs-on: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1
    with:
      ruby-version: '3.1' # Not needed with a .ruby-version file

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4.4'
        bundler-cache: true

    - name: Install dependencies
      run: bundle install

    - name: Run tests
      run: ./script/test

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./coverage/lcov/deadlist.lcov
